# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Distribuciones
*.egg
*.egg-info/
dist/
build/
*.whl

# Entornos virtuales
.venv/
env/
venv/
ENV/

# Archivos de configuración
.env
*.ini
*.cfg

# Archivos de bases de datos
*.sqlite3

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
logs/
*.log

# Docker
*.env
